* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 90vh;
    background-image: url(https://previews.123rf.com/images/vska/vska1607/vska160700053/60629271-r%C3%A9sum%C3%A9-t%C3%AAte-num%C3%A9rique-du-site-web-technologie-de-banni%C3%A8re-fond.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-login {
    width: 30vw;
    height: 20vh;
    background-color: #FF6347;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.4em;
    box-shadow: 2px 2px 3px #000000;
}

.enter {
    width: 25vw;
    height: 5vh;
    border-radius: 0.5em;
    font-size: 0.9em;
    letter-spacing: 0.2rem;
    border: 0.1em solid #363636;
}

.click {
    width: 8vw;
    height: 4vh;
    font-size: 1.2em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.01rem;
    border-radius: 0.3em;
    border: 1px solid #C0C0C0;
}

h1 {
    color: #B22222;
    letter-spacing: 0.1em;
    font-size: 2.3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 1px 1px black;
}